/*editor.md*/
/*code*/
PRE {
	MARGIN: 8px 0px
}
PRE CODE {
	BORDER-TOP-STYLE: none; WORD-WRAP: break-word; MAX-WIDTH: 100%; BORDER-LEFT-STYLE: none; BACKGROUND: none transparent scroll repeat 0% 0%; WHITE-SPACE: pre; BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
PRE {
	FONT-SIZE: 13px; OVERFLOW: auto; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; PADDING-LEFT: 10px; BORDER-LEFT: #cccccc 1px solid; LINE-HEIGHT: 19px; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #f8f8f8; border-radius: 3px
}
PRE CODE {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BACKGROUND-COLOR: transparent
}
PRE TT {
	BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BACKGROUND-COLOR: transparent
}
PRE {
	FONT-FAMILY: Consolas, "Liberation Mono", Menlo, Courier, monospace
}
PRE.prettyprint {
	BORDER-TOP: #e1e1e8 1px solid; BORDER-RIGHT: #e1e1e8 1px solid; BORDER-BOTTOM: #e1e1e8 1px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #e1e1e8 1px solid; PADDING-RIGHT: 10px; BACKGROUND-COLOR: #f7f7f9
}
PRE.linenums.prettyprint {
	box-shadow: 40px 0 0 #FBFBFC inset, 41px 0 0 #ECECF0 inset
}
PRE.linenums.prettyprint OL.linenums {
	MARGIN-BOTTOM: 0px; MARGIN-TOP: 0px; COLOR: #1e347b; PADDING-LEFT: 30px !important
}
PRE.linenums.prettyprint OL.linenums LI {
	COLOR: #bebec5; PADDING-LEFT: 12px !important; LINE-HEIGHT: 18px
}
PRE.linenums.prettyprint OL.linenums LI.L0 {
	LIST-STYLE-TYPE: decimal !important
}
PRE.linenums.prettyprint OL.linenums LI.L1 {
	LIST-STYLE-TYPE: decimal !important
}
PRE.linenums.prettyprint OL.linenums LI.L2 {
	LIST-STYLE-TYPE: decimal !important
}
PRE.linenums.prettyprint OL.linenums LI.L3 {
	LIST-STYLE-TYPE: decimal !important
}
PRE.linenums.prettyprint OL.linenums LI.L4 {
	LIST-STYLE-TYPE: decimal !important
}
PRE.linenums.prettyprint OL.linenums LI.L5 {
	LIST-STYLE-TYPE: decimal !important
}
PRE.linenums.prettyprint OL.linenums LI.L6 {
	LIST-STYLE-TYPE: decimal !important
}
PRE.linenums.prettyprint OL.linenums LI.L7 {
	LIST-STYLE-TYPE: decimal !important
}
PRE.linenums.prettyprint OL.linenums LI.L8 {
	LIST-STYLE-TYPE: decimal !important
}
PRE.linenums.prettyprint OL.linenums LI.L9 {
	LIST-STYLE-TYPE: decimal !important
}
CODE {
	BORDER-TOP: #eaeaea 1px solid; BORDER-RIGHT: #eaeaea 1px solid; WHITE-SPACE: normal; BORDER-BOTTOM: #eaeaea 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 5px; BORDER-LEFT: #eaeaea 1px solid; MARGIN: 0px 2px; PADDING-RIGHT: 5px; BACKGROUND-COLOR: #f8f8f8; border-radius: 3px
}
CODE {
	FONT-FAMILY: Consolas, "Liberation Mono", Menlo, Courier, monospace
}
.pln {
	COLOR: #48484c
}
.str {
	COLOR: #dd1144
}
.kwd {
	COLOR: #1e347b
}
.com {
	COLOR: #93a1a1
}
.typ {
	COLOR: teal
}
.lit {
	COLOR: #195f91
}
.pun {
	COLOR: #93a1a1
}
.opn {
	COLOR: #93a1a1
}
.clo {
	COLOR: #93a1a1
}
.tag {
	COLOR: #008
}
.atn {
	COLOR: teal
}
.atv {
	COLOR: #dd1144
}
.dec {
	COLOR: teal
}
.var {
	COLOR: teal
}
.fun {
	COLOR: #dc322f
}

/*blockquote*/
.postBody blockquote {
    margin-top:0px;
    margin-bottom:0px;
    margin-left: 0px;
    border: none;
}

.postBody blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; 
}
.postBody blockquote > :first-child {
  margin-top: 0; 
}
.postBody blockquote > :last-child {
  margin-bottom: 0; 
}
	
/*override cnblogs*/
.postBody li {
    margin-bottom: 0;
}

.postBody h1  {
    padding-bottom: .3em;
    border-bottom: 1px solid #eee;
}

#topics {
    overflow: inherit; 
}

#topics .postTitle {
    border-left: 3px solid #21759b;
    margin-bottom: 16px;
    font-size: 24px;
    float: right;
    width: 100%;
    clear: both;
}

.postTitle a {
	padding-left: 10px;
}
